@{
    ViewData["Title"] = "Thành Công";
}
<div class="container text-center" style="margin-top: 150px; margin-bottom: 150px;">
    <h2 class="text-success fw-bold">Hoàn Tất!</h2>
    <p class="lead mt-3">@TempData["ThongBao"]</p>
    <a href="/" class="btn btn-primary btn-lg mt-3 px-5 fw-bold">Về Trang Chủ</a>
</div>